
<div class="container dialog-wrap">
    <form  [formGroup]="mortalityForm" autocomplete="off" novalidate (ngSubmit)="doAction()">
    <div mat-dialog-content>
      <div *ngIf="action != 'Delete'; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
          
        <mat-form-field appearance="outline">
        <mat-label>Batch</mat-label>
        <mat-select  [(ngModel)]="local_data.batch"  formControlName="batch" >
          <mat-option *ngFor="let chick of chicks; let i = index" [value]="chicks[i].batchno">
         {{chicks[i].batchno}}
       </mat-option>
       </mat-select>
        <mat-error *ngIf="hasError('batch', 'required')">required</mat-error>
      </mat-form-field>

       <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="local_data.date"  placeholder="Date" formControlName="date" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="hasError('date', 'required')">required</mat-error>
      </mat-form-field>

   
      <mat-form-field appearance="outline">
        <mat-label>Total Number</mat-label>
        <input matInput [(ngModel)]="local_data.number" type="number"  placeholder="Total Number" formControlName="number" >
        <mat-error *ngIf="hasError('number', 'required')">required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
          
        <mat-label>Cause</mat-label>
        <input matInput [(ngModel)]="local_data.cause"  placeholder="Cause" formControlName="cause" >
        <mat-error *ngIf="hasError('cause', 'required')">required</mat-error>
      </mat-form-field>

      
      <mat-form-field appearance="outline">
        <mat-label>Confirmed By</mat-label>
        <input matInput [(ngModel)]="local_data.confirmedby"  placeholder="Confirmed By" formControlName="confirmedby" >
        <mat-error *ngIf="hasError('confirmedby', 'required')">required</mat-error>
      </mat-form-field>
 
    </ng-template>
    <ng-template #elseBlock>Sure to delete?</ng-template>
      </div>
      <div mat-dialog-actions>
        <button mat-button  type="button"  (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
        <button *ngIf="action != 'Delete'" mat-button type="submit" [disabled]="!mortalityForm.valid">{{action}}</button>
        <button *ngIf="action == 'Delete'" mat-button (click)="doAction()">{{action}}</button>
      </div>
    </form>
   





