
<div class="container dialog-wrap">
    <form  [formGroup]="categoryForm" autocomplete="off" novalidate (ngSubmit)="doAction()">
    <div mat-dialog-content>
       <mat-form-field appearance="outline">
        <mat-label>Choose Category</mat-label>
        <mat-select  [(ngModel)]="category"  formControlName="category" >
            <mat-option *ngFor="let category of categories; let i = index" [value]="categories[i].name">
           {{categories[i].name}}
         </mat-option>
         </mat-select>
        <mat-error *ngIf="hasError('category', 'required')">required</mat-error>
      </mat-form-field>
      </div>
      <div mat-dialog-actions>
        <button mat-button  type="button"  (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
        <button *ngIf="action != 'Delete'" mat-button type="submit" [disabled]="!categoryForm.valid">Ok</button>
       </div>
    </form>
   





