<div class="container dialog-wrap">
    <h1 mat-dialog-title>Select Batch</h1>
    <form [formGroup]="reportForm" autocomplete="off" novalidate (ngSubmit)="doAction()">
    <div mat-dialog-content>
        
      <mat-form-field appearance="outline">
        <mat-label>Batch</mat-label>
         <mat-select  [(ngModel)]="batch"  formControlName="batch" >
            <mat-option *ngFor="let chick of chicks; let i = index" [value]="chicks[i].batchno">
           {{chicks[i].batchno}}
         </mat-option>
         </mat-select>
        <mat-error *ngIf="hasError('batch', 'required')">required</mat-error>
      </mat-form-field>
        </div>
    <div mat-dialog-actions>
      <button mat-button  type="button"  (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
      <button mat-button (click)="doAction()"[disabled]="!reportForm.valid">Generate</button>
    </div>
    </form>
    </div>



