

<div class="row firstrow">
    <div  style="cursor: pointer;" class="col-xl-4 col-lg-6 nav-link" >
        <mat-card class="firstrowcards mat-elevation-z8">
          <div class="row d-flex justify-content-center">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">TOTAL INCOME</h5>
              <span class="h2 font-weight-bold mb-0">Ksh.{{income.total}}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                <img  src="../assets/img/revenue.png"  />
              </div>
            </div>
          </div>     
        </mat-card>  
    </div>


    <div style="cursor: pointer;" class="col-xl-4 col-lg-6 nav-link">
      
        <mat-card class="firstrowcards mat-elevation-z8">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">TOTAL EXPENSES</h5>
              <span class="h2 font-weight-bold mb-0">Ksh.{{expenses.total}}</span>
                 </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                <img  src="../assets/img/expenses.png"  />
              </div>
            </div>
          </div>
        </mat-card>
    </div>


    <div style="cursor: pointer;" class="col-xl-4 col-lg-6 nav-link"  >
         <mat-card class="firstrowcards mat-elevation-z8">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">PROFIT</h5>
              <span class="h2 font-weight-bold mb-0">{{profit}}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                <img  src="../assets/img/graph.png" />
              </div>
            </div>
         
      </div>
    </mat-card>
    </div>

    <div style="cursor: pointer;" class="col-xl-4 col-lg-6 nav-link"  >
      <mat-card class="firstrowcards mat-elevation-z8">
       <div class="row">
         <div class="col">
           <h5 class="card-title text-uppercase text-muted mb-0">CHICKS</h5>
           <span class="h2 font-weight-bold mb-0">{{chicks.total}}</span>
         </div>
         <div class="col-auto">
           <div class="icon icon-shape bg-info text-white rounded-circle shadow">
            <img  src="../assets/img/chicken.png"  />
           </div>
         </div>
      
   </div>
 </mat-card>
 </div>

 <div style="cursor: pointer;" class="col-xl-4 col-lg-6 nav-link"  >
  <mat-card class="firstrowcards mat-elevation-z8">
   <div class="row">
     <div class="col">
       <h5 class="card-title text-uppercase text-muted mb-0">MORTALITY</h5>
       <span class="h2 font-weight-bold mb-0">{{mortality.total}}</span>
     </div>
     <div class="col-auto">
       <div class="icon icon-shape bg-info text-white rounded-circle shadow">
        <img  src="../assets/img/cross.png"  />
       </div>
     </div>
  
</div>
</mat-card>
</div>


<div style="cursor: pointer;" class="col-xl-4 col-lg-6 nav-link"  >
  <mat-card class="firstrowcards mat-elevation-z8">
   <div class="row">
     <div class="col">
       <h5 class="card-title text-uppercase text-muted mb-0">FEEDS CONSUMED(No of Bags)</h5>
       <span class="h2 font-weight-bold mb-0">{{feeds.total}}</span>
     </div>
     <div class="col-auto">
       <div class="icon icon-shape bg-info text-white rounded-circle shadow">
        <img  src="../assets/img/feed.png"  />
       </div>
     </div>
  
</div>
</mat-card>
</div>



    </div>
